<div class="container">
    <div class="row page-title">
        <div class="col-lg-12">
            <h3 class="display-4 text-center">
                Matrix Machine 
                <small class="text-muted">Angular</small>
            </h3>
        </div>
    </div>
    <div class="row page-content">
        <div class="col-lg-12 mt-3 mb-3">
            <h5 class="display-6">Protected View</h5>
        </div>
        <div class="col-lg-12 mt-5 mt-lg-0">
            <h5>Congratulations!</h5>
            <h6>If you are able to see this page, then you have authenticated as admin.</h6>
        </div>
    </div>
</div>